.btn{
    margin-top:80px;
    width:150px;
    border-radius: 5px;
     height:25px;
     border-color:lightblue ;
}
 .box{
    margin-top:15px;
    height: 100px;
    width: 600px;
    border:solid 2px black;
 }
 p{
    padding:0;
    margin:0;
    text-align:center;
    font-size: large;
    font-weight: bold;
 }
 .flex{
    display:flex;
    flex-direction: column;
    align-items: center;

 }
@media (max-width:600px){
   .box{
       width:250px;
   }
   h3{
      display:flex;
       font-size: larger;
   }
   .btn{
      width:110px;
      text-align:start;
      
   }

 }

